<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Page Title</title>
</head>
<body>
  <h1>Horas, bah! <span id="greeting"></span></h1>

  <!-- load Dojo -->
  <script src="/lib/dojo/dojo.js" data-dojo-config="async: true"></script>

  <script>
  require([
	"dojo/dom",
	"dojo/dom-construct"
  ], function (dom, domConstruct) {
	var greetingNode = dom.byId('greeting');
    domConstruct.place('<b> Dojo!</b>', greetingNode);
  });
  </script>
</body>
</html>
